{% extends 'base.html.twig' %}

{% block breadcrum %}

	<div class="row">
		<div class="col-md-12">
			<div class="breadcrum">
				<li>
					<a href="{ path('home') }"><span class="fa fa-home"></span></a>
				</li>
			</div>
		</div>
	</div>

{% endblock %}

{% block main %}
	{{ event_selected.id }}
	<form id="select_event" action="" method="POST">
		<div class="form-group">
			<label for="sel1">{{ 'attendance.event_list'|trans }}</label>
			<select class="form-control" id="sel1" name="event_id">
			{% for event in event_list %}
				<option value="{{ event.id }}" {% if event_selected.id == event.id %} selected {% endif %}>{{ event.date|date('d/m/Y') }}</option>
			{% endfor %}
			</select>
		</div>
	</form>
{% endblock %}
